# Base de Datos
DB_USER=nombre_usuario
DB_PASSWORD=contrasena
DB_NAME=nombre_bd
DB_ROOT_PASSWORD=contrasena_admin

# Backend y APIs
JWT_SECRET_KEY=clave_secreta
GROQ_API_KEY=clave_groq

# Credenciales Administrador
ADMIN_NAME="Nombre"
ADMIN_EMAIL=email
ADMIN_PASSWORD=contrasena